@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Staatliches&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pour cacher la scrollbar sur tous les éléments et sur :hover/:focus */
html {
  scrollbar-width: none; /* pour Firefox */
  -ms-overflow-style: none; /* pour Internet Explorer et Edge */
  scroll-behavior: smooth;
  font-family: 'Titillium Web', sans-serif;
}

html::-webkit-scrollbar {
  display: none; /* pour Chrome, Safari et Opera */
}

.staatliches {
  font-family: 'Staatliches', sans-serif;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}
